[init]
	defaultBranch = main
[user]
	name = Szymon Zubek
	email = me@szymonzubek.com
[core]
	editor = nvim
[credential]
	helper = manager
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
